<li>
    {% if pub.site %}
        <a href="{{pub.site}}">{{pub.title}}</a>.
    {% else %}
        <a href="/publications/{{pub.short_id}}">{{pub.title}}</a>.
    {% endif %}
    {% if pub.award %}
        (<strong>{{pub.award}}</strong>)
    {% endif %}
    <br/>
    {% for author in pub.authors %}
        {% assign resolved_name = site.data.authors[author].name | default: author %}
        {% if pub.co_first_authors contains author %}
            {{ resolved_name }}*
        {% else %}
            {{ resolved_name }}
        {% endif %}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    <br/>
    {{site.data.venues[pub.venue].name}} (<strong>{{site.data.venues[pub.venue].short_name}}</strong>),
    {% if pub.volume %}
        pages {{pub.volume}},
    {% endif %}
    {% if pub.number %}
        pages {{pub.number}},
    {% endif %}
    {% if pub.pages %}
        pages {{pub.pages}},
    {% endif %}
    {{pub.year}}.
    <br/>
    [<a href="javascript:void(0)" onclick="(function(target, id) { if ($('#' + id).css('display') == 'block') { $('#' + id).hide('fast'); $(target).text('bibtex') } else { $('#' + id).show('fast'); $(target).text('bibtex▲') } })(this, 'bibtex-{{pub.short_id}}');">bibtex</a>]
    {% for link in pub.links %}
            [<a href="{{link[1]}}">{{link[0]}}</a>]
    {% endfor %}
    <div id="bibtex-{{pub.short_id}}" style="display:none">
        <pre>{{pub.bib}}</pre>
    </div>
</li>